<% layout("/layouts/boilerplate") %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <h2 class="text-center mb-4 fw-bold text-dark"><%= listing.title %></h2>

      <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
        <img src="<%= listing.image.url || '/images/default.jpg' %>" 
             class="card-img-top object-fit-cover" 
             alt="Listing Image"
             style="height: 300px;">

        <div class="card-body p-4">
          <p class="text-muted mb-3"><%= listing.description %></p>

          <p class="fs-5 mb-1">
            <strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %>
          </p>
          <p class="text-secondary">
            <i class="bi bi-geo-alt"><b></i> <%= listing.location %>, <%= listing.country %></b>
          </p>

          <hr class="my-3">

          <div class="d-flex justify-content-between mt-4">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-outline-primary px-4 py-2 rounded-pill fw-semibold">
              <i class="bi bi-pencil-square"></i> Edit
            </a>
            
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
              <button type="submit" class="btn btn-outline-danger px-4 py-2 rounded-pill fw-semibold">
                <i class="bi bi-trash"></i> Delete
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-8 col-lg-6 mt-5">
    <hr/>
    <h4>Leave Review</h4>
    <form action="/listings/<%=listing._id%>/reviews" method="POST">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">comments</label>
        <textarea 
          name="review[comment]" 
          id="comment" cols="30" 
          rows="10"  
          novalidate 
          class="form-control needs-validation" 
          >
        </textarea>
      </div>
      <button class="btn btn-dark add-btn mt-2">Submit</button>
    </form>
  </div>
</div>
